<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "net.ukabu.blackboardMath"
	version 	= "0.9.0">

	<name>PhoneGap: Getting Started</name>

	<description>
		Blackboard / Math! is a mobile application targeted at elementary school kids to help them learn their math tables.
	</description>

	<author href="http://ukabu.github.com"
		email="emmanuel@pirsch.org">
		Ukabu
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
