<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	id		= "net.ukabu.blackboardmath"
	version 	= "0.9.2">

	<name>Blackboard Math!</name>

	<description>
		Blackboard / Math! is a mobile application targeted at elementary school kids to help them learn their math tables.
	</description>

	<author href="http://github.com/ukabu"
		email="emmanuel@pirsch.org">
		Ukabu
	</author>

	<icon src="icon.png" gap:role="default" />
	<content src="index.html" />
	<preference name="Fullscreen" value="true" />
	<access origin="*" />
</widget>
