<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id		= "net.ukabu.blackboardmath"
	version 	= "1.0.6">

	<name>Blackboard Math!</name>

	<description>
		Blackboard / Math! is a mobile application targeted at elementary school kids to help them learn their math tables.
	</description>

	<author href="http://github.com/ukabu"
		email="emmanuel@pirsch.org">
		Ukabu
	</author>

	<icon src="icon.png" />
	<content src="index.html" />
	<preference name="Fullscreen" value="true" />
	<preference name="permissions" value="none"/>
	<preference name="android-minSdkVersion" value="11" />
	<preference name="android-targetSdkVersion" value="14" />
	<access origin="*" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:platform name="android" />
</widget>
