jobutton { background-repeat: repeat-x; }

@font-face {
  font-family: DoodlePen_Limited;
  src: url(DoodlePen_Limited.ttf);
}

.hide {
  display: none;
}

#keypad {
  position: absolute;
  right: 0;
  bottom: 75px;
  width: 180px;
}

#nextProblem {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../touch-white-sm.png);
  background-repeat: no-repeat;
  background-position: 85% 85%;
  opacity: 0.10;
}

#keypad jobutton {
  color: white;
  background-color: #101010;
  background-image: url(jo/subtle-matte-full.png);
  border: none;
}

#keypad jobutton:active {
  background-color: #707070;
}

#keypad jobutton.focus {
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  box-shadow: inherit;
}

#problem {
  background-color: black;
  background-image: none;
  color: white;
  
}

#equation {
  font-size: 5em;
  line-height: 1em;
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0.01em 0.01em 0.03em white, -0.01em -0.01em 0.03em white;
  width: 160px;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

#question {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}

#equation hr {
  height: 5px;
  margin: 0;
  background-color: white;
}

#operator {
  text-align: right;
  display: -webkit-box;
  display: box;
  box-align: end;
  -webkit-box-align: end;
  box-flex: 1;
  -webkit-box-flex: 1;
}

#solution {
  position: absolute;
  bottom: 5px;
  right: -0.25em;  
  color: red;
  width: 2.25em;
  text-shadow: 0.01em 0.01em 0.03em red, -0.01em -0.01em 0.03em red;
}

uCongrats {
  position: absolute;
  font-size: 5em;
  top: 80px;
  left: 30px;
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  /* FIXME: cause rendering issues on webos: text-shadow: 0.01em 0.01em 0.03em green, -0.01em -0.01em 0.03em green; */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
}

.swirl {
  -webkit-transform: rotate(-32deg);
  -webkit-animation-name: swirl;
}

@-webkit-keyframes swirl {
  from {
    -webkit-transform: rotate(-720deg) scale(0);
  }
  to  {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: rotate(-32deg) scale(1);
   }
}

.inplode { /* does not work very well on webos devices  - animation is not smooth when transform cause element to be offscreen */
  -webkit-transform: rotate(7deg);
  -webkit-animation-name: inplode;
}
@-webkit-keyframes inplode {
  from {
    -webkit-transform: scale(50) rotate(-20deg);
  }
  
  60% {
    -webkit-transform: scale(0.7) rotate(15deg);
  }
  to {
    -webkit-transform: scale(1) rotate(7deg);
  }
}
  
.explode {
  -webkit-transform: rotate(-13deg);
  -webkit-animation-name: explode;
}
@-webkit-keyframes explode {
  from {
    -webkit-transform: scale(0) rotate(48deg);
  }
  
  70% {
    -webkit-transform: scale(1.8) rotate(-34deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-13deg);
  }
}

.heartbeat {
  -webkit-transform: rotate(3deg);
  -webkit-animation-name: heartbeat;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(0) rotate(5deg);
  }
  30% {
    -webkit-transform: scale(1.4) rotate(2deg);
  }
  50% {
    -webkit-transform: scale(0.8) rotate(3deg);
  }
  70% {
    -webkit-transform: scale(1.6) rotate(7deg);
  }
  to {
    -webkit-transform: scale(1) rotate(3deg);
  }
}

.shake{
  -webkit-transform: none;
  -webkit-animation-name: shake;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-duration: 0.1s;
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(-20px);
  }
  66% {
    -webkit-transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(0px);
  }
}

.total {
  margin-left: 0;
  margin-right: 0;
}

.chalk ­{
  position: relative;
}

uNumber {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: end;
  position: relative;
}

uChalk {
  position: relative;
}

uNumber span, .chalk span, uChalk span {
  background: url(chalk.png) repeat;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

uNumber johtml {
  margin-left: 0;
  margin-right: 0;
}

uNumber .minus {
  height: 53px;
  margin: 0;
}
.n0, .n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9 {
  position: relative;
  overflow: hidden;
  height: 53px;
}
.n0 img, .n1 img, .n2 img, .n3 img, .n4 img, .n5 img, .n6 img, .n7 img, .n8 img, .n9 img {
  position: absolute;
  top: 0;
}

uNumber.strike {
  text-decoration: line-through;
}

uNumber.strike img {
  top: -53px;
}
.n0.strike img, .n1.strike img, .n2.strike img, .n3.strike img, .n4.strike img, .n5.strike img, .n6.strike img, .n7.strike img, .n8.strike img, .n9.strike img {
  top: -53px;
}
.n0     { width: 39px; }
.n0 img { left: 0; }
.n1     { width: 26px; }
.n1 img { left: -39px; }
.n2     { width: 32px; }
.n2 img { left: -65px; }
.n3     { width: 28px; }
.n3 img { left: -97px; }
.n4     { width: 32px; }
.n4 img { left: -125px; }
.n5     { width: 32px; }
.n5 img { left: -158px; }
.n6     { width: 35px; }
.n6 img { left: -189px; }
.n7     { width: 30px; }
.n7 img { left: -224px; }
.n8     { width: 33px; }
.n8 img { left: -254px; }
.n9     { width: 35px; }
.n9 img { left: -287px; }


jooption.operator {
  font-size: large;
}

@media only screen and (min-width: 760px),
  only screen and (min-height: 600px)   {
  #equation {
    font-size: 8em;
    width: 320px;
    font-weight: normal;
  }
  uCongrats {
    font-size: 8em;
    top: 160px;
    left: 60px;
  }
  #solution {
  }
  #keypad {
    -webkit-transform: scale(1.3);
    -webkit-transform-origin: bottom right;
  }
}

@media only screen and (max-height: 480px) {
  .menu jooptionitem {
    padding: 6px 0;
  }
  .menu jolabel, .menu jooption {
    margin: 0px 10px 6px 10px
  }
}

jobackbutton {
  box-shadow: none;
  -webkit-box-shadow: none;
}
jobackbutton:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media only screen and (max-height: 400px) {
  .menu jooptionitem, .menu jobutton {
    padding: 4px 0;
  }
  .menu jolabel, .menu jooption {
    margin: 0px 10px 5px 10px
  }
  
  jotoolbar {
    display: none;
  }
  
  #keypad {
    bottom: 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: bottom right;
  }
}
